doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(http-equiv='X-UA-Compatible', content='IE=7')
    title Login
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    style.
      #login-cont{
      padding-top: 30vh;
      max-width: 60vh;
      height: 100vh !important;
      }
      .field{
      margin: auto;
      max-width: 20rem;
      padding-top: 1.5rem;
      }
      .pict{
      max-width: 65rem;
      }
      .title{
      padding-left: 20% !important;
      }
      @media (min-width: 1025px) {
      /* fullscreen view */
      #login-cont{
      margin-left: 3rem;
      background-color: rgb(90, 88, 88);
      }
      .field{
      padding-left: 2rem;
      max-width: 23rem;
      }
      }
      @media (min-width: 320px) and (max-width: 480px) {
      /* mobile view */
      .pict{
      display: none;
      }
      #login-cont{
      margin: auto;
      }
      .title{
      padding-left: 10% !important;
      color:gray !important;
      }
      }
      @media (min-width: 768px) and (max-width: 1024px) {
      /* tablet view */
      #login-cont{
      margin: auto;
      width: 100%;
      }
      .pict{
      display: none;
      }
      .title{
      padding-left: 20% !important;
      color:gray !important;
      }
      }
  body
    section.section.columns
      #login-cont.container.column
        label.title.is-size-2-desktop.has-text-light Welcome Back
        form(method='post', action='/register', enctype='multipart/form-data')
            .field
              label.label.has-text-success School Name
              .control
                .select
                  select
                    option School Name
                    option With options
            .field
              label.label.has-text-success Email
              .control.has-icons-left.has-icons-right
                input.input(type='email', placeholder='Email input', value='hello@')
                span.icon.is-small.is-left
                  i.fas.fa-envelope
            .field
              label.label.has-text-success Password
              p.control.has-icons-left
                input.input(type='password', placeholder='Password')
                span.icon.is-small.is-left
                  i.fas.fa-lock
            .field
              p.control
            button.button.is-success
              | Login
      .container.pict.column
        span
          img(src='/public/images/undraw_monitor_iqpq.svg', alt='')
