doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=7')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    title Staff Data Form
    style.
      .field{
      padding-top: 5%;
      max-width: 20rem;;
      }
  body
    p.title(style='padding: 2%') Student Data Form
    section.section.columns
      .container.column
        label.title.has-text-success
          | Hello there, 
          br
          | Please fill the form below correctly
        .field
          label.label.has-text-success State of Origin
          .control
            .select
              select
                option Abia
                option With options
        .field
          label.label.has-text-success Date of Birth
          .control.has-icons-left.has-icons-right
            input.input(type='date')
        .field
          label.label.has-text-success Residential Address
          .control.has-icons-left.has-icons-right
            textarea.input.textarea(type='text')
        .field
          label.label.has-text-success Parent Phone Number
          .control.has-icons-left.has-icons-right
            input.input(type='text')
        .field
          label.label.has-text-success Upload Picture
          .control.has-icons-left.has-icons-right
            input.input(type='file')
        .field
          label.label.has-text-success Password
          p.control.has-icons-left
            input.input(type='password', placeholder='Password')
            span.icon.is-small.is-left
              i.fas.fa-lock
        .field
          label.label.has-text-success Confirm Password
          p.control.has-icons-left
            input.input(type='password', placeholder='Password')
            span.icon.is-small.is-left
              i.fas.fa-lock
        .field
          p.control
            button.button.is-success
              | Go to dashboard
